.header {
  background-color: var(--portfolio-dark-brown);
  background: url(../../images/retrofade.webp);
  background-size: 100vw;
  height: 110vh;
  background-repeat: none;

  color: var(--portfolio-cream);
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2em;
}

.homepage h1 {
  font-size: 4em;
  margin-bottom: 0;
}

.homepage h2 {
  color: var(--portfolio-cream);
}

.subtitle {
  font-size: 3em;
  font-weight: 400;
  color: var(--portfolio-cream);
  margin-top: 0;
}

.textContainer {
  padding: 4em;
  max-height: 100%;
  /* background-color: rgba(66, 62, 55, 0.3); */
}

.pitchLandscape {
  font-size: 1.2em;
  display: block;
}

.pitchPortraitContainer {
  display: none;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
  .header {
    background-size: cover;
    background-repeat: none;
    /* width: 100%; */
    height: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 0;
  }

  .textContainer {
    padding: 1.8em;
    padding-right: 0.7em;
  }

  .homepage h1 {
    font-size: 1.9em;
    margin: 0.5em 0;
  }

  .subtitle {
    font-size: 1.2em;
    margin-bottom: 4em;
  }

  .pitchLandscape {
    display: none;
  }
  .pitchPortraitContainer {
    display: block;
    /* background-image: linear-gradient(
      to right top,
      #4a97b4,
      #4485a0,
      #3e738b,
      #386278,
      #315264
    ); */
    background-color: var(--portfolio-cream);
    margin: 1.5em;
    padding: 1em;
    border-radius: 10px;
    color: var(--portfolio-dark-brown);
    text-align: left;
  }
  .pitchPortrait {
    font-size: 0.9em;
    margin: 0.3em 0;
  }
}
