.homepage {
  background: url(../../images/retro.png);
  background-size: 100vw;
  min-height: 91vh;
  color: #edebd7;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.homepage h1 {
  font-size: 60px;
}

.textContainer {
  padding: 4em;
  /* background-color: rgba(66, 62, 55, 0.3); */
}
