.project {
  /* border: 3px solid red; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em 6em;
  color: var(--portfolio-cream);
}

.projectLeft {
  text-align: center;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.projectRight {
  padding: 2em;
}

.projectTitle {
  color: var(--portfolio-yellow);
}
.project h2 {
  color: var(--portfolio-yellow);
}

.projectImage {
  width: 80%;
  margin: auto;
}

.techIconsArea {
  display: flex;
  justify-content: center;
}

.techIcon {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: var(--portfolio-yellow);
  margin: 1em;
}

.projectLinks {
  display: flex;
  justify-content: space-evenly;
}

.projectLink {
  background-color: var(--portfolio-yellow);
  color: var(--portfolio-dark-brown);
  border-radius: 20px;
  padding: 0.5em 1em;
  margin: 1em;
}

@media only screen and (max-width: 600px) {
  .project {
    /* border: 3px solid red; */
    display: flex;
    /* grid-template-columns: 1fr; */
    flex-direction: column-reverse;
    padding: 0 1em;
    margin-top: 0;
    color: var(--portfolio-cream);
  }

  .projectRight {
    padding: 0 1em;
  }
  .techIcon {
    width: 2em;
    height: 2em;
    margin: 0.7em;
  }
}
