.contactForm {
  border: 3px solid var(--portfolio-dark-gray);
  background-color: var(--portfolio-dark-gray);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 50em;
  margin: 2em auto;
  padding: 2em;
  align-items: center;
}

.nameInput,
.emailInput,
.messageInput {
  border-radius: 10px;
  padding: 1em;
  border: none;
  margin: 1em 0;
  width: 90%;
  max-width: 40em;
  color: var(--portfolio-dark-brown);
  background-color: var(--portfolio-cream);
}

.submit {
  background-color: var(--portfolio-yellow);
  width: 12em;
  margin: 2em auto;
  border-radius: 10px;
  padding: 1em;
}

.thanks {
  border: 3px solid var(--portfolio-yellow);
  padding: 2em;
  height: 2em;
  background-color: var(--portfolio-dark-brown);
  border-radius: 10px;
  visibility: visible;
}

.notSent {
  visibility: hidden;
}
