/* Dark brown
background: #423e37;

/* Yellow */
/* background: #e3b23c; */

/* cream */
/* background: #edebd7; */

/* light gray */
/* background: #A39594; */

/* dark gray */
/* background: #6E675F; */

.App {
  text-align: center;
  background-color: #423e37;
  color: #e3b23c;
  min-height: 100vh;
}

.App h2 {
  font-size: 48px;
  color: #edebd7;
}
