:root {
  --portfolio-dark-brown: #423e37;

  --portfolio-yellow: #e3b23c;

  --portfolio-cream: #edebd7;

  --portfolio-light-gray: #a39594;

  --portfolio-dark-gray: #6e675f;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
